html,body{
    font-family: Verdana, sans-serif;
    text-align:center;
    min-width:260px;
    color: hsl(54, 74%, 63%);
  }
  #main{
    margin:30px auto;
    padding:15px;
    border:0px solid;
    border-radius:5px;
    background:hsl(30, 8%, 9%);
  }
  img{
    max-width: 100%; 
    display: block; 
    height: auto;
    margin: auto;
  }
  #img-div{
    margin:-5px;
    margin-top:20px;
    width:100%;
    border-radius: 10px;
    border:8px solid hsl(54, 74%, 63%);
    background:hsl(30, 8%, 9%);
  }
  #img-caption{
    margin:15px;
  }
  #headline{
    margin-top:50px;
    text-align:left;
  }
  ul{
    max-width:550px;
    margin:0 auto;
    text-align:left;
  }
  li{
    margin: 10px;
  }
  blockquote{
    font-style: italic;
  }